<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Práctica 6 UNIR</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a routerLink="/" (click)="goBack()" class="btn btn-link nav-link">Inicio</a>
            </li>
            <li class="nav-item">
                <a routerLink="/new-user" (click)="newUser()" class="btn btn-link nav-link">Nuevo Usuario</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5 mb-5">
    <div class="container mt-5">
        <h2>Editar Usuario</h2>
        <div class="container mt-5">
            <form *ngIf="user" (ngSubmit)="saveUser()">
              <div class="mb-3">
                <label for="firstName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="firstName" [(ngModel)]="user.first_name" name="firstName" required>
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="lastName" [(ngModel)]="user.last_name" name="lastName" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
              </div>
              <div class="mb-3">
                <label for="image" class="form-label">Imagen</label>
                <input type="text" class="form-control" id="image" [(ngModel)]="user.image" name="image" required>
              </div>
              <button type="submit" class="btn btn-outline-primary">Guardar</button>
            </form>
        </div>

    </div>
</div>
  