.container {
    padding-top: 50px;
  }
  
  h1 {
    color: #343a40;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .card-img-top {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
  }

  .card {
    height: 100%; /* O establece una altura fija, por ejemplo, height: 300px; */
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  